@using JsonSerializer = System.Text.Json.JsonSerializer
@model OrderModel

@{
    ViewData["Title"] = "CreateOrder";
}

<h1>Create Order</h1>

<script src="~/js/raw/OrderManager.js"></script>

<div>
    <select class="selectpicker" multiple data-actions-box="true" title="Категории товаров">
        @foreach (var item in Model.goodTypes)
        {
            <option selected value=@item.Code>@item.Name</option>
        }
    </select>
    <select class="selectpicker" multiple data-actions-box="true" title="Производители">
        @foreach (var item in Model.producers)
        {
            <option selected value=@item.Code>@item.Name</option>
        }
    </select>
</div>
<div>
    <br>
</div>
<div>
    <table border="1">
        <thead>
            <tr>
                <th>
                    <b>Producer</b>
                </th>
                <th>
                    <b>Type</b>
                </th>
                <th>
                    <b>Name</b>
                </th>
                <th>
                    <b>Price</b>
                </th>
                <th>
                    <b>Currency</b>
                </th>
                <th>
                    <b>Number</b>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.goods)
            {
                <tr>
                    <td>
                        @Model.producers.Where(p => p.Code == @item.ProducerCode).Select(p => p.Name).FirstOrDefault()
                    </td>
                    <td>
                        @Model.goodTypes.Where(g => g.Code == @item.GoodTypeCode).Select(g => g.Name).FirstOrDefault()
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Value
                    </td>
                    <td>
                        @item.Currency
                    </td>
                    <td>
                        <input class="goodnumber-input goddnumber-input-@item.Id" data-goodid="@item.Id" type="number" value="0" min="0">
                    </td>
                    <td>
                        <button hidden class="goodnumber-add goddnumber-add-@item.Id" data-goodid="@item.Id">Add</button>
                        <button hidden class="goodnumber-delete goddnumber-delete-@item.Id" data-goodid="@item.Id">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">
            $(function () {
                new OrderManagerPack.OrderManager(
                );
            });
</script>