@model OrderModel

@{
    ViewData["Title"] = "CreateOrder";
}

<h1>Create Order</h1>

<div>
    <select class="selectpicker">
        @foreach (var item in Model.goodTypes)
        {
            <option value=@item.Code>@item.Name</option>
        }
    </select>
    <select class="selectpicker">
        @foreach (var item in Model.producers)
        {
            <option value=@item.Code>@item.Name</option>
        }
    </select>
</div>
<div>
    <br>
</div>
<div>
    <table border="1">
        <thead>
            <tr>
                <th>
                    <b>Producer</b>
                </th>
                <th>
                    <b>Type</b>
                </th>
                <th>
                    <b>Name</b>
                </th>
                <th>
                    <b>Price</b>
                </th>
                <th>
                    <b>Currency</b>
                </th>
                <th>
                    <b>Number</b>
                </th>
                <th>
                    <b>Total</b>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.goods)
            {
                <tr>
                    <td>
                        @Model.producers.Where(p => p.Code == @item.ProducerCode).Select(p => p.Name).FirstOrDefault()
                    </td>
                    <td>
                        @Model.goodTypes.Where(g => g.Code == @item.GoodTypeCode).Select(g => g.Name).FirstOrDefault()
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Value
                    </td>
                    <td>
                        @item.Currency
                    </td>
                    <td>
                        @*Html.TextBoxFor(item => item.producers)*@
                    </td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
</div>
