@using JsonSerializer = System.Text.Json.JsonSerializer
@model OrderModel

@{
    ViewData["Title"] = "CreateOrder";
}

<h1>Create Order</h1>

<div>
    <select class="selectpicker selectgoodtype" multiple data-actions-box="true" title="Категории товаров">
        @foreach (var item in Model.goodTypes)
        {
            <option selected value=@item.Code>@item.Name</option>
        }
    </select>
    <select class="selectpicker selectproducer" multiple data-actions-box="true" title="Производители">
        @foreach (var item in Model.producers)
        {
            <option selected value=@item.Code>@item.Name</option>
        }
    </select>
    <button>Оформить заказ</button>
</div>

<div>

</div>

<div>
    <br>
</div>
<div>
    <table border="1">
        <thead>
            <tr>
                <th>
                    <b>Producer</b>
                </th>
                <th>
                    <b>Type</b>
                </th>
                <th>
                    <b>Name</b>
                </th>
                <th>
                    <b>Price</b>
                </th>
                <th>
                    <b>Currency</b>
                </th>
                <th>
                    <b>Number</b>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.goods)
            {
                <tr class="goodtypecode-@item.GoodTypeCode producercode-@item.ProducerCode">
                    <td>
                        @Model.producers.Where(p => p.Code == @item.ProducerCode).Select(p => p.Name).FirstOrDefault()
                    </td>
                    <td>
                        @Model.goodTypes.Where(g => g.Code == @item.GoodTypeCode).Select(g => g.Name).FirstOrDefault()
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td class="goodprice goodprice-@item.Id">
                        @item.Value
                    </td>
                    <td>
                        @item.Currency
                    </td>
                    <td>
                        <input class="goodnumber-input goodnumber-input-@item.Id" data-goodid="@item.Id" type="number" value="0" min="0">
                    </td>
                    <td>
                        <button class="goodnumber-add goodnumber-add-@item.Id" data-goodid="@item.Id" style="display: none;">Add</button>
                        <button class="goodnumber-delete goodnumber-delete-@item.Id" data-goodid="@item.Id" style="display: none;">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/js/OrderManager.js"></script>
<script type="text/javascript">
    $(function () {
        new OrderManagerPack.OrderManager(
        );
    });
</script>